@font-face {
        font-family: 'androidicon';
        src: url('../font/android.ttf') format('truetype');
}

.icon.android:before{font-family:'androidicon';font-weight:normal !important}

.icon.android.aplus:before { content: "\6a"; }
.icon.android.astar:before { content: "\21"; }
.icon.android.across:before { content: "\23"; }
.icon.android.acheck:before { content: "\24"; }
.icon.android.aup:before { content: "\25"; }
.icon.android.aup:before { content: "\25"; }
.icon.android.aleft:before { content: "\2a"; }
.icon.android.atag:before { content: "\34"; }
.icon.android.adelete:before { content: "\52"; }
.icon.android.atrash:before { content: "\54"; }
.icon.android.adown:before { content: "\5e"; }
.icon.android.acalendar:before { content: "\6c"; }
.icon.android.aconnect:before { content: "\44"; }
.icon.android.agoogleplay:before { content: "\45"; }
.icon.android.aedit:before { content: "\59"; }
.icon.android.asearch:before { content: "\40"; }