#contenedor_calendario{
	font-family          : "arial", Times, sans-serif;
	overflow             : hidden;
	width                : 240px;
	text-align           : center;
	border               : solid 2px #fff;
	-moz-border-radius   : 4px;
	-webkit-border-radius: 4px;
	border-radius        : 4px;
	background-color     : #2a95d3;/*333*/	/*Color del calendario*/
	margin               : 5px auto;
	z-index              : 101;
}

#titulos_calendario{
	float: left;
	width: 100%;
	color:#fff;
}

.titulo_calendario{
	float : left;
	width : 100%;
	height: 20px;
}

#contenedor_btn_calendario{
	float           : left;
	width           : 100%;
	border-top      : 1px solid;
	height          : 45px;
	margin-top      : 4px;
	display         : table;
}

#sub_titulo_fecha_calendario{
	float        : left;
	width        : 100%;
	font-size    : 12px;
	border-bottom: 2px solid #FFF;
	margin-bottom: 7px;
}

.btn_calendario, .btn_calendario_selected{
	display              : table;
	color                : #5B5B5B;
	width                : 40%;
	height               : 33px;
	margin               : 0 10px 0 10px;
	float                : left;
	border               : solid 2px #fff;
	-moz-border-radius   : 4px;
	-webkit-border-radius: 4px;
	border-radius        : 4px;
}

.btn_calendario{

}

.btn_calendario_selected, .signo_calendario_selected{

}

.signo_calendario{
	margin-top: 20px;
}

.signo_calendario_selected, .signo_calendario{ height: 30px; font-size: 25px; }

.centrar_btn_vertical{
	width         : 100%;
	display       : table-cell;
	vertical-align: middle;
}

.sub_titulo_calendario{
	float: left;
	width: 33%;
}

.fecha_calendario{
	float                : left;
	width                : 65px;
	color                : #7F7F7F;
	font-weight          : bold;
}

.fecha_calendario_left{ margin : 0px 5px 0px 10px; }
.fecha_calendario_right{ margin: 0px 10px 0px 5px; }

.contenedor_signo_calendario, .contenedor_numero_calendario{
	float  : left;
	width  : 100%;
	display: table;
}

.contenedor_numero_calendario{
	height          : 60px;
	border-top      : 2px solid #0093D5; 
	border-bottom	: 2px solid #0093D5;
	font-size       : 25px;
	color           : #000000;
	font-weight		: bold;
}

.numero_calendario, .signo_calendario, .span_text_btn_calendario, #modal_calendario{
	/*display       : table-cell;*/
	vertical-align: middle;
	width         : 100%;
}

.fondo_modal_calendario{
	z-index          : 100;
	top              : 0px;
	width            : 100%;
	height           : 100%;
	display          : table;
	left             : 0px;
	position         : absolute !important;
	background-color : rgba(0,0,0,0.6);				/*Color de fondo*/
}