@font-face {
        font-family: 'whalleticon';
        src: url('../font/whallet.ttf') format('truetype');
}

.icon.whallet:before{font-family:'whalleticon';font-weight:normal !important}

.icon.whallet.casa:before { content: "\21"; }
.icon.whallet.food:before { content: "\22"; }
.icon.whallet.transporte:before { content: "\24"; }
.icon.whallet.personal:before { content: "\25"; }
.icon.whallet.wtag:before { content: "\26"; }
.icon.whallet.comment-stroke:before { content: "\27"; }
.icon.whallet.pen-alt-fill:before { content: "\28"; }
.icon.whallet.camera:before { content: "\29"; }
.icon.whallet.calendar:before { content: "\2a"; }
.icon.whallet.calendar-2:before { content: "\2b"; }
.icon.whallet.clock:before { content: "\2c"; }
.icon.whallet.tag-2:before { content: "\2d"; }
.icon.whallet.salud:before { content: "\2e"; }
.icon.whallet.cerdo:before { content: "\23"; }
.icon.whallet.educacion:before { content: "\2f"; }
.icon.whallet.ocio:before { content: "\30"; }
.icon.whallet.monedas:before { content: "\31"; }
.icon.whallet.recibo:before { content: "\32"; }
.icon.whallet.compra:before { content: "\33"; }
.icon.whallet.plus-2:before { content: "\34"; }
.icon.whallet.plus-alt:before {  content: "\35"; }
.icon.whallet.cog:before { content: "\38"; }
.icon.whallet.exit:before { content: "\3b"; }
.icon.whallet.caution:before { content: "\3f"; }
.icon.whallet.ok:before { content: "\3b"; }
.icon.whallet.remove:before { content: "\3f"; }
.icon.whallet.add-money:before { content: "\4e"; }
.icon.whallet.arrow-up:before { content: "\4b"; }
.icon.whallet.arrow-down-2:before { content: "\4c"; }
.icon.whallet.arrow-left:before { content: "\4d"; }
.icon.whallet.happy:before { content: "\4f"; }
.icon.whallet.smiley:before { content: "\50"; }
.icon.whallet.neutral:before { content: "\51"; }
.icon.whallet.meter-slow:before { content: "\42";}
.icon.whallet.meter-medium:before { content: "\43";}
.icon.whallet.meter-fast:before { content: "\44";}
.icon.whallet.stats-up:before {content: "\45";}

.icon.whallet.go-in:before {content: "\4A";}

.icon.whallet.casita:before {content: "\4d";}